<div class="container">
    <div class="row">
        <h3 class="header">User CRUD Application</h3><br><br>
    </div><br>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" 
                    [routerLink]="'/recordlist'">Record List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" 
                    routerLinkActive="active" 
                    [routerLink]="'/recordlist/new'">Add Record</a>
            </li>
        </ul>
    </div><br>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>