<app-header></app-header>

<div class="container mt-40">
    <div class="row">
        <div class="col-md-6 col-xl-7 col-sm-12">
            <img alt="" class="spiral-img" src="assets/spiral-bg.png">
        </div>
        <div class="col-md-6 col-xl-5 col-sm-12">
            <div class="text-center mt-10-per">
                <h2 >MISSION</h2>
                <p >To simplify investments within distressed market sectors.</p>
            </div>
            <pre>        
                <div class="color-white">
                    <div class="bold">
                        APPLICATION STATUS
                    </div> 
                            
                        #repository - live!
                            
                        #observer - loading....
                        #uplink - loading...
                        #beacon - loading...
                </div>
            </pre>
            <p class="align-justify"> Interested in creating your own custom trading tools? Use the 
                <a class="contact-link" routerlinkactive="router-link-active">Contact</a>
                 page to reach out to one of our team members. We’d love to discuss your goals and provide options to further assist you with your unique trading style. 
            </p>
        </div>
    </div>
</div>