<app-header></app-header>

<div class="container mt-40">
    <div class="row">
        <div class="col-md-12 col-xl-12 col-sm-12 mb-4 text-center">
            <button class="btn  subs-btn">SUBSCRIBE</button>
        </div>
        <div class="col-md-10 col-xl-9 col-sm-12 max-auto ">
            <div class="text-center">
                <h2 >FEATURES</h2>
            </div>
            <div class="row mt-4">
                <div class="col-md-8 col-xl-8 col-sm-8">
                    <p class="justify">
                    <b class="font-bold">#repository</b>
                        - The most responsive OTC Markets data feed available! Desktop and mobile compatible! Real time - Press Releases, SEC Filings, OTC Disclosure, and Corporate Actions. Filter by price, and form type. The symbol search feature available in both the LITE and paid version provides a snapshot of recent company events, filings, splits, and dividend information. The 10 Day Overview provides a quick look at price action and volume over the past ten trading sessions. Due Diligence, Simplified! </p>
                    <p class="justify">
                    <b class="font-bold">#repositoryLITE</b> - Free OTC Disclosure feed powered by OTC Markets RSS Feed. No subscription necessary! Simply create an account and access via the User CP. NOTE: #repositoryLITE contains ONLY material documents released directly by OTC Markets Group. SEC Filings, Corporate Actions, and 55+ additional Press Release providers NOT included. Please subscribe to #repository to access all REAL TIME feeds. </p>
                    
                </div>
                <div class="col-md-4 col-xl-4 col-sm-4">
                    <ul class="feature-list">
                        <li >Press Releases (55+ News Sources!)</li>
                        <li >Company Filings</li>
                        <li >Corporate Actions</li>
                        <li >FINRA Related Actions</li>
                        <li >OTC Disclosure</li>
                        <li >Historical Search Tools</li>
                        <li >Trade History Snapshot</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>