<div >
    

    <div class="container">
        <div class="row justify-content-center">
            <button class="btn btn-class">LAUNCH</button>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <h2>UPDATES/NEWS</h2>
                <ul class="list">
                    <li *ngFor="let news of newss">
                        <span>{{ news.news_update }}</span>
                        <strong>{{  news.updated_at | date: 'dd/MM/yyyy' }}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="media-box">
                    <iframe height="100%" width="100%" [src]="youtube_link">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>