<div class="container-fluid">
    <div class="row">
        <div class="backdrop" (click)="onCloseDialogBox()" *ngIf="editMode"></div>
        <div class="alert-box" *ngIf="editMode">
            <div class="alert-box-actions">
                <div class="popupCloseButton" (click)="onCloseDialogBox()">&times;</div>
                <form #authForm="ngForm">
                    <h2>Edit User</h2>

                    <div class="form-group text-left">
                        <label for="name">name</label>
                        <input
                        type="text"
                        class="form-control"
                        disabled
                        [(ngModel)]="editUser.name"
                        #name="ngModel"
                        name="name"
                        />
                    </div>

                    <div class="form-group text-left">
                    <label for="email">email</label>
                    <input
                        type="text"
                        id="email"
                        disabled
                        class="form-control"
                        [(ngModel)]="editUser.email"
                        name="email"
                        #emailUsername="ngModel"
                    />
                    </div>

                    <div class="form-group text-left">
                        <label for="type">account type</label>
                        <select
                            type=""
                            id="type"
                            class="form-control"
                            [(ngModel)]="editUser.account_type"
                            name="type"
                            required
                            #type="ngModel">
                            <option>subscribe</option>
                            <option>unsubscribe</option>
                            <option>free</option>
                        </select>
                        </div>
                    
                    <div class="row  justify-content-center ">
                        <button
                        class="btn"
                        type="submit"
                        [disabled]="!authForm.valid"
                        (click)="onUpdateUser()"
                        >
                        Submit
                    </button>
                    </div>
                </form>
            </div>
            </div>
        
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12">
                    <h5>USER</h5>
                </div>
                <div class="col-xl-6 col-lg-8 col-md-6 col-sm-12">
                    <h6>filter</h6>
                       
                    <ul class="filter">
                        <li >
                          <a
                            [ngClass]="subscription === 'subscribe'? 'active': ''"
                            (click)="onApplyFilter('subscribe')"
                            >SUBSCRIBE</a>
                            <img alt="" class="img-class" src="assets/star-bullets.png">
                        </li>
                        
                        <li >
                          <a 
                            (click)="onApplyFilter('unsubscribe')"
                            [ngClass]="subscription === 'unsubscribe'? 'active': ''">UNSUBSCRIBE</a>
                            <img alt="" class="img-class" src="assets/star-bullets.png"> 
                        </li>
                        <li>
                            <a 
                                (click)="onApplyFilter('free')"
                                [ngClass]="subscription === 'free'? 'active': ''">FREE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row left-block" >
                <div class="col-lg-12 col-md-12 col-sm-12 table-div">
                    <input 
                        class="form-control search-input" 
                        [(ngModel)]="searchQuery"
                        (ngModelChange)="onChangePage(1)"
                        type="search" 
                        name="search" 
                        placeholder="Search....">
                    <table >
                          <tr>
                            <th>USERNAME</th>
                            <th>EMAIL</th>
                            <th>ACCOUNTTYPE</th>
                            <th>RENEWDATE</th>
                            <th>EDIT</th>
                          </tr>
                          <tr *ngFor="let user of users; let i=index">
                            <td>{{user.username}}</td>                        
                            <td>{{user.email}}</td>
                            <td>{{user.account_type}}</td>
                            <td>{{user.date}}</td>
                            <td (click)="onEditUser(i)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </td>
                          </tr>
                          
                    </table>

                      <div class="center">
                        <div class="pagination">
                            <a
                                [ngClass]="current_page > 1 ? '':'disabled'"
                                (click)="onChangePage(current_page-1); current_page = current_page-1"
                                >&laquo; Previous</a>
                            <a 
                                *ngFor="let page of getIndex(total_page); let i=index"
                                [ngClass]="current_page === i+1? 'active':''"
                                (click)="onChangePage(i+1); current_page = i+1"
                                >{{i+1}}</a>
                            <a
                                [ngClass]="current_page < total_page ? '':'disabled'"
                                (click)="onChangePage(current_page+1); current_page = current_page+1"
                                >Next &raquo;</a>
                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 right-block">
            <div class="row ">
                <div class="col text-center col-sm-12">
                    <h5>total subscribed user</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12"></div>
                <div class="col-lg-4 col-sm-12 sub-user">
                    <h1>{{totalSubscribedUser}}</h1>
                </div>
                <div class="col-lg-4 col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    <form #authForm="ngForm">
                        <div class="form-group">
                          <h5>youtube embedded video</h5>
                          <div class="row youtube-block">
                              <div class="col-xl-10 col-sm-12" style="padding: 0px;">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="youtube"
                                    [(ngModel)]="youtube_link"
                                    #youtube="ngModel"
                                />
                              </div>
                              <div class="col-xl-2 col-sm-12 text-right" style="padding: 0px;">
                                <button type="submit" (click)="updateYoutubeLink()">Submit</button>
                              </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-12">
                    <div class="form-group">
                        <h5>news and updates</h5>
                        <form [formGroup]="newsForm">
                            <div class="row youtube-block2" formArrayName="news">
                                <div class="col col-sm-12">
                                    <div 
                                        class="row" 
                                        *ngFor="let newsCtrl of newsControls; let i = index"
                                        [formGroupName]="i"
                                        style="margin-top: 5px;" >
                                        <div class="col-xl-10 col-sm-12" style="padding: 0px;">
                                            <input
                                                type="text"
                                                class="form-control"
                                                formControlName="news"
                                            />
                                        </div>
                                        <div class="col-xl-2 col-sm-12 text-right" style="padding: 0px;">
                                            <button 
                                                type="submit"
                                                (click)="onNewsEdit(i)" >
                                                <img [src]="newsCtrl.disabled ? '../../../assets/edit.svg' : '../../../assets/save.svg'">
                                            </button>
                                            <button 
                                                type="submit" 
                                                (click)=onDeleteNews(i)>
                                                <img src="../../../assets/delete.svg">
                                            </button>
                                        </div>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col col-sm-12 text-right" style="padding: 0px;">
                                            <button type="submit" style="margin-top: 8px;" (click)="onAddNews()">Add News</button>
                                            <button type="submit" style="margin-top: 8px;" (click)="deleteAllNews()">Delete All</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>